.chat-list-item {
    display: block;
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
    text-decoration: none;
    color: #060606;
}
.chat-list-item:hover {
    background-color: #eee;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.chat-header {
    background: white;
    position: relative;
    z-index: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.message-list {
    position: fixed;
    bottom: 60px;
    top: 50px;
    padding: 0 1rem;
    width: 100%;
    height: calc(100% - 110px);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.chat-message {
    width: fit-content;
    max-width: 75%;
    align-self: flex-start;
    border-radius: 1.5rem;
    background: #eeeeee;
    margin-bottom: 0.25rem;
    padding: 0.5rem 1rem;
}

.chat-message.right {
    align-self: flex-end;
    background: rgb(168, 168, 255);
}

.chat-form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
[type="text"] {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}
[type="text"]:focus {
    outline: none;
}
.chat-form > [type="submit"] {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}
